[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zaryana
[access "refs/for/refs/*"]
	read = group user/zaryana
	push = group user/zaryana
	label-Code-Review = -2..+2 group user/zaryana
	label-Verified = -1..+1 group user/zaryana
	rebase = group user/zaryana
	removeReviewer = group user/zaryana
	submit = group user/zaryana
[access "refs/heads/*"]
	read = group user/zaryana
	create = group user/zaryana
	push = +force group user/zaryana
	pushMerge = group user/zaryana
[access "refs/tags/*"]
	push = +force group user/zaryana
	pushTag = group user/zaryana
	pushSignedTag = group user/zaryana
